/* app css stylesheet */

body {
  padding-top: 20px;
}

html{
  display:block;
  font-family: Lantinghei SC, sans-serif;
}



.thumb {
  float: left;
  margin: -0.5em 1em 1.5em 0;
  padding-bottom: 1em;
  height: 100px;
  width: 100px;
}

ul.specs {
  clear: both;
  margin: 0;
  padding: 0;
  list-style: none;
}
/*table{
  background-color: gree;

}*/

ul.specs > li{
  display: inline-block;
  width: 200px;
  vertical-align: top;
}

.containingRow {
    width: 25%;
    margin-right:1%;
    margin-left:.05%;
    height:94%;


}

ul.specs > li > span{
  font-weight: bold;
  font-size: 1.2em;
}

ul.specs dt {
  font-weight: bold;
}

h1 {
  border-bottom: 1px solid gray;
}
.error{
  background-color: red;
}

.topBar{
  height:6em;
  margin-bottom: 1em;
}

.centeredTitle{
  text-align:right;
  font-size: 2em;
  padding:1em;
  margin-left:2em;
}
.login-container{
  margin-top:8em;
  display:inline-block;
}
ul img{
  max-width: 20em !important;
  margin-top: 1em;
}
.navbar-right{
  /*width:70%;*/

}
.navbar-nav{
  width:100%;
}


.citationList{

  margin-top: 10%;
  margin-left: 40%;
  text-align:left;
}
.rightSide{
  margin-left: 9em;
  padding-top: 3em;
}

.courtImage img{
  width:  4em;
  display: inline-flex;
}